
include snippets.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(type="text/css", rel="stylesheet", href="/css/main.css", media="screen")
        title Social Media
    body
        include nav.pug
        header
            .container
                .cover
                    if (data.coverpic)
                        img(src="data:" + data.coverpic.contentType + ";base64," + data.coverpic.data)
                    else
                        img(src="/images/blank_cover.jpg")
                .options
                    #opt_lt
                        ul
                            li
                                a(href="/profile") Timeline
                            li
                                a.active About
                            li
                                a(href="/profile/friends") Friends
                    #opt_rt
                        ul
                            li
                                a(href="#") Photos
                            li
                                a(href="#") Videos
                            li
                                a(href="#") Block
                    #control_block
                        a(href="/Change-Profile-Picture") Change Profile Picture
                        a(href="/Change-Cover-Picture") Change Cover Picture
                .photo
                    if (data.image)
                        img(src="data:" + data.image.contentType + ";base64," + data.image.data)
                    else
                        img(src="/images/bdp.png")
                    span #{data.firstName} #{data.lastName}
        
        section#about
            .sidebar
                .inner
                    ul
                        li
                            p.heading
                                span About
                                a(href="Personal-Settings") Edit Profile
                            p.pfinfo About Me 
                                span Welcome to My Profile, Welcome to My Profile, Welcome to My Profile
                            p.pfinfo Birthday 
                                span 13th May 1995
                            p.pfinfo Relationship Status 
                                span Single
                            p.pfinfo Nationality 
                                span Indian
                            p.pfinfo Religion 
                                span Hinduism
                            if (data.location)
                                p.pfinfo Lives in 
                                    span #{data.location}
                            if (data.gender)
                                p.pfinfo Gender 
                                    span #{data.gender}
                            if (data.phone)
                                p.pfinfo Phone Number 
                                    span #{data.phone}
                            if (data.email)
                                p.pfinfo Email 
                                    span #{data.email}
                            if (data.createdAt)
                                p.pfinfo Joined 
                                    span.time(livestamp=data.createdAt)
                            if (data.updatedAt)
                                p.pfinfo Last Updated 
                                    span.time(livestamp=data.updatedAt)
                        
            .content
                ul
                    li
                        p.heading Hobbies and Interests
                        .row
                            .s6
                                p.title Hobbies:
                                p.info Coming Soon!
                            .s6
                                p.title Favorite Music:
                                p.info Coming Soon!
                        .row
                            .s6
                                p.title Favorite TV Shows:
                                p.info Coming Soon!
                            .s6
                                p.title Favorite Books:
                                p.info Coming Soon!
                        .row
                            .s6
                                p.title Favorite Movies:
                                p.info Coming Soon!
                            .s6
                                p.title Favorite Games:
                                p.info Coming Soon!
                    li
                        p.heading Education and Employment
                        .row
                            .s12
                                p.title School:
                                p.info Coming Soon!
                        .row
                            .s12
                                p.title College:
                                p.info Coming Soon!
                        .row
                            .s12
                                p.title Works At:
                                p.info Coming Soon!

        include footer.pug
