
include snippets.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(type="text/css", rel="stylesheet", href="/css/main.css", media="screen")
        title Social Media
    body
        include nav.pug
        header
            .container
                .cover
                    if (data.coverpic)
                        img(src="data:" + data.coverpic.contentType + ";base64," + data.coverpic.data)
                    else
                        img(src="/images/blank_cover.jpg")
                .options
                    #opt_lt
                        ul
                            li
                                a Timeline
                            li
                                a(href="/profile/about") About
                            li
                                a(href="/profile/friends") Friends
                    #opt_rt
                        ul
                            li
                                a(href="#") Photos
                            li
                                a(href="#") Videos
                            li
                                a(href="#") Block
                    #control_block
                        a(href="/Change-Profile-Picture") Change Profile Picture
                        a(href="/Change-Cover-Picture") Change Cover Picture
                .photo
                    if (data.image)
                        img(src="data:" + data.image.contentType + ";base64," + data.image.data)
                    else
                        img(src="/images/bdp.png")
                    span #{data.firstName} #{data.lastName}
        
        section#settings
            .sidebar
                .inner
                    ul
                        li
                            p.heading
                                span Profile Settings
                            a(href="/Personal-Settings") Personal Settings
                            a(href="/Account-Settings").active Account Settings
                            a(href="/Change-Profile-Picture") Change Profile Picture
                            a(href="/Change-Cover-Picture") Change Cover Picture
                        li
                            p.heading
                                span Friends Requests
                            a(href="#") Received Requests
                            a(href="#") Sent Requests
                        li
                            p.heading
                                span Notifications
                            a(href="#") All Notifications         
            .content
                ul
                    li
                        p Email Settings
                        form(method="POST")#chem
                            .row
                                .input-group.s12
                                    input.form-control(type="text", name="oem")
                                    label Enter Old Email ID
                                    span=oem
                            .row
                                .input-group.s6
                                    input.form-control(type="text", name="nem")
                                    label Enter New Email ID
                                    span=nem
                                .input-group.s6
                                    input.form-control(type="text", name="cem")
                                    label Confirm New Email ID
                                    span=cem
                            .row
                                button(type="submit", name="btn", value="email") Update Email ID
                    li
                        p Password Settings
                        form(method="POST")#chpw
                            .row
                                .input-group.s12
                                    input.form-control(type="password", name="opw")
                                    label Enter Old Password
                                    span=opw
                            .row
                                .input-group.s6
                                    input.form-control(type="password", name="npw")
                                    label Enter New Password
                                    span=npw
                                .input-group.s6
                                    input.form-control(type="password", name="cpw")
                                    label Confirm New Password
                                    span=cpw
                            .row
                                button(type="submit", name="btn", value="pass") Update Password
                        
        include footer.pug