<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(type="text/css", rel="stylesheet", href="/css/main.css", media="screen")
        title Social Media
    body
        nav
            #nav-wrapper
                .item
                    a(href="/")
                        i.material-icons home
                    span Go to Home
                    input#fs(type="text", placeholder="Search")
                    i.material-icons search
                .item
                    .icon-dropdown
                        if (data.friends.received.length > 0)
                            .badge data.friends.received.length
                        i.material-icons#pico people
                        .dropdown
                            p Friend Requests
                            if (data.friends.received.length > 0)
                                ul#people
                                    li
                                        a.dp(href="#")
                                            img(src="/images/bdp.png")
                                        .frd
                                            a(href="#") Krish Cool
                                            span Mutual Friends : 1
                                        span.accept-reject
                                            i.material-icons done
                                            i.material-icons cancel
                                    li
                                        a.dp(href="#")
                                            img(src="/images/bdp.png")
                                        .frd
                                            a(href="#") Krishnendu Saha
                                            span Mutual Friends : 1
                                        span.accept-reject
                                            i.material-icons done
                                            i.material-icons cancel
                                    li
                                        a.dp(href="#")
                                            img(src="/images/bdp.png")
                                        .frd
                                            a(href="#") Amrita Dutta
                                            span Mutual Friends : 1
                                        span.accept-reject
                                            i.material-icons done
                                            i.material-icons cancel
                                    li
                                        a.dp(href="#")
                                            img(src="/images/bdp.png")
                                        .frd
                                            a(href="#") Delmalya Chakraborty
                                            span Mutual Friends : 1
                                        span.accept-reject
                                            i.material-icons done
                                            i.material-icons cancel
                            else
                                .empty
                                    p No Pending Requests
                            .see-all
                                a(href="#") See All Friends Events
                    
                    .icon-dropdown
                        .badge 2
                        i.material-icons#chico chat
                        .dropdown
                            p
                                span Recent Chats/Messages
                                a(href="#")
                                    span New Message
                            ul#chats
                                li
                                    a.dp(href="#")
                                        img(src="/images/bdp.png")
                                    .msg
                                        a(href="#") Amrita Dutta
                                        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa numquam repellendus debitis repellat vel dolore reprehenderit cum sunt corporis consequatur, facilis mollitia ipsam odit? Pariatur modi assumenda porro quaerat fuga!
                                        span 1 hr ago
                                li
                                    a.dp(href="#")
                                        img(src="/images/bdp.png")
                                    .msg
                                        a(href="#") Krishnendu Saha
                                        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa numquam repellendus debitis repellat vel dolore reprehenderit cum sunt corporis consequatur, facilis mollitia ipsam odit? Pariatur modi assumenda porro quaerat fuga!
                                        span 1 hr ago
                            .empty
                                p No Recent Chats
                            .see-all
                                a(href="#") See All Chats/Messages

                    .icon-dropdown
                        .badge 8
                        i.material-icons#notico notifications_active
                        .dropdown
                            p
                                span Notifications
                            ul#notify
                                li
                                    a.dp(href="#")
                                        img(src="/images/bdp.png")
                                    .msg
                                        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa numquam repellendus debitis repellat vel dolore reprehenderit cum sunt corporis consequatur, facilis mollitia ipsam odit? Pariatur modi assumenda porro quaerat fuga!
                                        span 1 hr ago
                                li
                                    a.dp(href="#")
                                        img(src="/images/bdp.png")
                                    .msg
                                        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa numquam repellendus debitis repellat vel dolore reprehenderit cum sunt corporis consequatur, facilis mollitia ipsam odit? Pariatur modi assumenda porro quaerat fuga!
                                        span 1 hr ago
                            .empty
                                p No Recent Notifications
                            .see-all
                                a(href="#") See All Notifications

                    .pf-dropdown
                        a(href="/profile")
                            if (data.minimage)
                                img(src="data:" + data.minimage.contentType + ";base64," + data.minimage.data)
                            else
                                img(src="/images/bdp.png")
                            span=data.firstName
                            i.material-icons arrow_drop_down
                        .pf-dropdown-menu
                            p YOUR ACCOUNT
                            a(href="settings")
                                p Profile Settings
                            a(href="logout")
                                p Logout

        header
            .container
                .cover
                    img(src="/images/blank_cover.jpg")
                .options
                    #opt_lt
                        ul
                            li
                                a.active Timeline
                            li
                                a(href="#") About
                            li
                                a(href="#") Friends
                    #opt_rt
                        ul
                            li
                                a(href="#") Photos
                            li
                                a(href="#") Videos
                            li
                                a(href="#") Block
                    if (!data.email)
                        #control_block
                            button(type="button") Already Friends
                            button(type="button") Remove Friend
                            button(type="button") Message
                .photo
                    if (data.image)
                        img(src="data:" + data.image.contentType + ";base64," + data.image.data)
                    else
                        img(src="/images/bdp.png")
                    span #{data.firstName} #{data.lastName}
        
        section#settings
            .sidebar
                .inner
                    ul
                        li
                            p.heading
                                span Profile Settings
                            a(href="/Personal-Settings").active Personal Settings
                            a(href="/Account-Settings") Account Settings
                            a(href="/Change-Picture") Change Picture
                        li
                            p.heading
                                span Friends Requests
                            a(href="#") Received Requests
                            a(href="#") Sent Requests
                        li
                            p.heading
                                span Notifications
                            a(href="#") All Notifications         
            .content
                ul
                    li
                        p Personal Settings
                        form(method="POST")#normal
                            .row
                                .input-group.s6
                                    input.form-control(type="text", name="fn", value=data.firstName)
                                    label First Name
                                    span=fn
                                .input-group.s6
                                    input.form-control(type="text", name="ln", value=data.lastName)
                                    label Last Name
                                    span=ln
                            .row
                                .input-group.s6
                                    input.form-control(type="text", name="un", value=data.userName)
                                    label User Name
                                    span=un
                                .input-group.s6
                                    input.form-control(type="text", name="loc", value=data.location)
                                    label Location
                                    span=loc
                            .row
                                .input-group.s6
                                    select.form-control(name="gen")
                                        option(value="")
                                        option(value="Male", selected=(data.gender === 'Male')) Male
                                        option(value="Female", selected=(data.gender === 'Female')) Female
                                        option(value="Others", selected=(data.gender === 'Others')) Others
                                    label Gender
                                    span=gen
                                .input-group.s6
                                    input.form-control(type="Number", name="ph", value=data.phone)
                                    label Phone Number
                                    span=ph
                            .row
                                button(type="submit") Update All Changes
                        
        footer



        script(type="text/javascript", src="/js/jquery-3.3.1.min.js")
        script(type="text/javascript", src="/js/profile.js")
